#aboutCover {
    background-image: url('../../public/img/about.jpg');
    background-color: ivory;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    background-attachment: fixed;
    position: relative;
    min-height: 250px;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
 }

 #aboutCover h1 {
  background-color: rgba(0, 0, 0, 0.45);
  color: white;
  padding: 1rem;
}

#aboutBody {
  background-color: ivory;
  color: darkslategray;
}

/*========================= DESCKTOP (media queries)_======================*/

@media screen and (min-width: 1000px){

  #aboutBody {
    padding: 3% 15%;
  }
}