#aboutCover h1,
#aboutBody h2,
#aboutBody h3  {
  font-family: "Kreon", "Trebuchet MS", "Verdana";
}

#aboutCover {
  background-image: url('../../public/img/about.jpg');
   background-color: ivory;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  background-attachment: fixed;
  position: relative;
  min-height: 250px;
  overflow: hidden;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
}

#aboutCover h1 {
  background-color: rgba(0, 0, 0, 0.781);
  color: white;
  padding: 1rem;
}

#aboutRight{
 display: none;
}

#aboutBody {
  color: darkslategray;
}

#topAbout{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 45px;
}

#topAbout h2{
  margin-bottom: 10px;
}

#topAbout img{
  width: 180px;
  height: 21px;
}

/*========================= DESCKTOP (media queries)_======================*/

@media screen and (min-width: 1023px){

  #aboutContainer{
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: max-content;
    grid-template-areas:
      "body margeRight";
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 12%
  }

  #aboutRight{
    display: unset;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4% 3.5%;
    grid-area: "margeRight";
  }

  #aboutRight img {
    height: 75%;
    width: 50%;
  }

  #aboutBody {
    padding: 4% 0;
    grid-area: "body";
  }
}