#blogHeader {
    background-image: url('../../public/img/blogCover.jpg');
    filter: sepia(1);
    background-size: cover !important;
    -webkit-background-size: cover !important;
    background-attachment: fixed;
    position: relative;
    min-height: 250px;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
 }

 #blogHeader h1 {
  background-color: rgba(0, 0, 0, 0.55);
  color: white;
  padding: 1rem;
}

#mainBlogBody{
  background-color: ivory;
  padding-top: 7%;
}

#blogPostBody{
  background-color: ivory;
  color: darkslategray;
}
