#contactPage {
  width: 100vw;
}

#contactPage .container{
  display: flex;
  justify-content: center;
  color: darkslategray;
  margin: 4%;
}

#contactPage .container .content{
width: 100%;
}

#contactPage h1 {
  display: flex;
  justify-content: center;
  padding-bottom: 45px;
  font-family: "Kreon";
  font-size: 40px;
}

#contactPage h2 {
  font-family: "Kreon";
  font-size: 20px;
  margin-bottom: 10px !important;
}

.contactH2Bot{
  border-bottom-style: solid;
  width: 80px;
  border-bottom-width: 1px;
  margin-left: 10px;
  margin-bottom: 20px;
}

#coord{
  display: flex;
}

#coordTxt{
  width: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
}
#coordTxt ul{
  margin-right: 30%;
  margin-top: 0 !important;
}

#contctSep{
  border-bottom-style: solid;
  border-color: lightslategray;
  width: 80%;
  border-bottom-width: 1px;
  margin: 55px 8% 55px 11%;
}

#contact{
  display: flex;
  justify-content: center;
  align-items: center;
}

#coordLogo{
  display: none;
}

#contactForm{
  width: 100%;
}

#contactForm .field:last-child{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contactPage .button.is-link {
  background-color:  #525252;
  width: 80%;
  margin-top: 15px;
}
#contactPage .button.is-link:hover {
  background-color: lightslategray;
}


/*========================= TABLET (media queries)_======================*/

@media screen and (min-width: 750px){


  #contactPage .container{
    margin: 6%;
    padding: 3% 0 5% 0% !important;
    border-style: darkgray;
    box-shadow: 0 0 45px 0
    rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: ivory;
  }

  #contactPage h1 {
    margin-left: 5%;
  }

  #coordTxt{
    width: 50%;
    padding-top: 4%;
  }

  #coordTxt ul{
    margin-right: 20%;
  }

  #contact{
    justify-content: space-around;
  }

  #coordLogo{
    display: unset;
    filter: invert(0.2);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 55px;
  }

  #coordLogo img{
    width: 210px;
  }

  #contactForm{
    width: 70%;
  }

}

/*========================= DESCKTOP (media queries)_======================*/

@media screen and (min-width: 1000px){

  #contactPage .container{
    margin: 6% 17%;
  }

}
