#contactPage {
  width: 100vw;
  background-color: ivory;
}

#contactPage .container{
  display: flex;
  justify-content: center;
  color: darkslategray;
  margin: 4%;
}

#contactPage .container .content{
width: 100%;
}

#contactPageTitle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

#contactPage h1 {
  display: flex;
  justify-content: center;
  font-family: "Kreon";
  font-size: 50px;
  margin-bottom: 10px;
}

#contactPage h2 {
  font-family: "Kreon";
  font-size: 20px;
  margin-bottom: 10px !important;
}

.contactH2Bot{
  border-bottom-style: solid;
  width: 80px;
  border-bottom-width: 1px;
  margin-left: 10px;
  margin-bottom: 20px;
}

#coord{
    width: 100%;
  display: flex;    
  align-items: start;
  flex-direction: column;
}

#coord ul{
  margin-right: 30%;
  margin-top: 0 !important;
}

#contctSep{
  border-bottom-style: solid;
  border-color: lightslategray;
  width: 80%;
  border-bottom-width: 1px;
  margin: 55px 8% 55px 11%;
}

#contact{
  display: flex;
  justify-content: center;
  align-items: center;
}

#soulignement{
  width: 180px;
  height: 21px;
}

#coordLogo{
  display: none;
}

#contactForm{
  width: 100%;
}

#contactForm .field:last-child{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contactPage .button.is-link {
  background-color:  #525252;
  width: 80%;
  margin-top: 15px;
}
#contactPage .button.is-link:hover {
  background-color: lightslategray;
}


/*========================= TABLET (media queries)_======================*/

@media screen and (min-width: 750px){

  #contactPage .container{
    background-color: ivory;
  }

  #contactPageTitle {
    margin-left: 5%;    
    width: 50%;
    padding-top: 4%;
  }


  #coord ul{
    margin-right: 20%;
  }

  #contact{
    justify-content: space-around;
  }

  #contactForm{
    width: 70%;
  }

}

/*========================= DESCKTOP (media queries)_======================*/

@media screen and (min-width: 1000px){

  #contactPage .container{
    margin: 6% 17%;
  }

}
