#contactPage {
  width: 100vw;
  background-color: rgb(251, 251, 245);
  font-family: "Kreon", "Trebuchet MS", "Verdana";
}

#contactPage .container{
  display: flex;
  justify-content: center;
  color: darkslategray;
  margin: 4%;
}

#contactPage .container .content{
width: 100%;
}

#contactPageTitle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}

#contactPage h1 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin-bottom: 10px;
}

#contactPage h2 {
  font-size: 20px;
  margin-bottom: 25px !important;
}

.contactH2Bot{
  border-bottom-style: solid;
  width: 80px;
  border-bottom-width: 1px;
  margin-left: 10px;
  margin-bottom: 20px;
}

#coord{
  display: flex;    
  align-items: center;
  flex-direction: column;  
}

#coordBody{
  display: flex;
}

#contactPicture{
  display: none;
}

#coord ul{
  margin: 7% 0 7% 7% !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 170px;
  font-size: 1.5em;
  list-style: none;
  color: #000;
}

#coord ul img{
  filter: invert(45%);
}

#coord ul li{
  margin-bottom: 10px;
}

#coord ul li a{
  display: flex;
  align-items: center;
  color: #000;
}

#coord ul li:hover{
  transform: scale(1.1);
  transition-duration: 0.25s;
}

#coord ul img{
  width: 25px;
  margin-right: 10px;
}

#contctSep{
  border-bottom-style: solid;
  border-color: lightslategray;
  width: 80%;
  border-bottom-width: 1px;
  margin: 55px 8% 55px 11%;
}

#contact{
  display: flex;
  justify-content: center;
  align-items: center;
}

#soulignement{
  width: 180px;
  height: 21px;
}

#coordLogo{
  display: none;
}

#contactForm{
  width: 100%;
}

#contactForm .field:last-child{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contactPage .button.is-link {
  background-color:  #525252;
  width: 80%;
  margin-top: 15px;
}
#contactPage .button.is-link:hover {
  background-color: lightslategray;
}


/*=========================_TABLET (media queries)_======================*/

@media screen and (min-width: 750px){

  #contactPage h2 {
    margin-bottom: 20px !important;
  }

  #contactPageTitle {
    width: 100%;
  }

  #coordBody{
    margin: 0 5% 0 5%;
  }

  #coord{
    align-items: flex-start;
    margin: 0 15%;
  }

  #coord ul{
    margin: 7% 10% 7% 0 !important;
    width: 240px;
  }

  #coord ul li{
    margin-bottom: 0;
  }

  #contactPicture{
    display: unset;
    width: 60%;
  }

  #contact{
    justify-content: space-around;
  }

  #contactForm{
    width: 70%;
  }

}

/*=========================_DESCKTOP (media queries)_======================*/

@media screen and (min-width: 1000px){

  #contactPage .container{
    margin: 6% 17%;
  }

  #coord ul{
    margin: 7% 15% 7% 0 !important;
  }
}

