
.social {
  height: 65px;
}

#footerLogo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.social img {
  height: 2.5em;
  width: 2.5em;
  margin: 0 15px;
  filter: invert(80%);
}

.social img:hover {  
  transform: scale(1.2); 
  transition-duration: 0.55s;
}

.legal {
  display: flex !important;
  justify-content: center !important;
}

.legal a {
  color: white !important;
  margin-left: 10px !important;
}



