#indexBody{
  display: flex;
}

#indexBody section{
 width: 50%;
 height: 100vh;
}

#indexBody .navbar,
#indexBody .navbar-burger{
  background-color: #383232 !important;
}
/*=========================_TABLET (media queries)_======================*/

@media screen and (min-width: 750px){
  

  #indexBody #navMenu{
    display: flex;
    justify-content: center !important;
  }


}
/*=========================_TABLET & DESKTOP (media queries)_======================*/

@media screen and (min-width: 1023px){
  

  #indexBody .navbar,
  #indexBody .navbar-burger{
    background-color: transparent !important;
  }


}
