.navbar .navbar-menu {
  box-shadow:none !important;
}  

.navbar-burger  {
  color: white !important;
}    

.navbar,
.navbar-burger {
  background-color: #383232 !important;
}  
  
.navbar-item {
  color: dimgray !important;
  font-family: "Kreon", "Trebuchet MS", "Verdana";
  font-size: 1.15em;
}

#navMenu .navbar-item:hover {
  color: gainsbo !important;
  transform: scale(1.075);
  transition-duration: 0.25s;
}


/*========================= TADESCKTOP (media queries)_======================*/

@media screen and (min-width: 1023px){

  .navbar-item:first-child {
    margin-left: 50px;
  }

  .navbar-item {
    color: gainsboro !important;
  }

  #navMenu .navbar-item:hover {
    color: white !important;
  }
}
